logic-apps-ai-demo/ReceiveAmazonOrder/workflow.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "XML_Validation": {
        "type": "XmlValidation",
        "inputs": {
          "content": "@triggerBody()",
          "schema": {
            "source": "LogicApp",
            "name": "AmazonPurchaseOrder.xsd"
          }
        },
        "runAfter": {}
      },
      "Transform_and_save": {
        "type": "Scope",
        "actions": {
          "Transform_to_PurchaseOrder": {
            "type": "Xslt",
            "inputs": {
              "content": "@triggerBody()",
              "map": {
                "source": "LogicApp",
                "name": "AmazonPO_to_PurchaseOrder.xslt"
              }
            }
          },
          "Send_to_service_bus": {
            "type": "ServiceProvider",
            "inputs": {
              "parameters": {
                "entityName": "@parameters('received-orders-topic-name')",
                "message": {
                  "contentData": "@body('Transform_to_PurchaseOrder')",
                  "contentType": "application/xml",
                  "userProperties": {
                    "OrderSource": "@{xpath(body('Transform_to_PurchaseOrder'), '/PurchaseOrder/OrderSource/text()')?[0]}"
                  }
                }
              },
              "serviceProviderConfiguration": {
                "connectionName": "serviceBus-1",
                "operationId": "sendMessage",
                "serviceProviderId": "/serviceProviders/serviceBus"
              }
            },
            "runAfter": {
              "Set_variable_OrderId": [
                "SUCCEEDED"
              ]
            }
          },
          "Set_variable_OrderId": {
            "type": "SetVariable",
            "inputs": {
              "name": "orderId",
              "value": "@xpath(body('Transform_to_PurchaseOrder'), '/PurchaseOrder/OrderID/text()')?[0]"
            },
            "runAfter": {
              "Transform_to_PurchaseOrder": [
                "SUCCEEDED"
              ]
            }
          }
        },
        "runAfter": {
          "Variable_OrderId": [
            "SUCCEEDED"
          ]
        }
      },
      "Response_OK": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 200,
          "body": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<Response>\n    <PurchaseOrderId>@{variables('orderId')}</PurchaseOrderId>\n</Response>"
        },
        "runAfter": {
          "Transform_and_save": [
            "SUCCEEDED"
          ]
        }
      },
      "Bad_Request": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 400
        },
        "runAfter": {
          "XML_Validation": [
            "FAILED"
          ]
        }
      },
      "Server_Error": {
        "type": "Response",
        "kind": "Http",
        "inputs": {
          "statusCode": 500
        },
        "runAfter": {
          "Transform_and_save": [
            "FAILED"
          ]
        }
      },
      "Variable_OrderId": {
        "type": "InitializeVariable",
        "inputs": {
          "variables": [
            {
              "name": "orderId",
              "type": "string"
            }
          ]
        },
        "runAfter": {
          "Archive_to_blob": [
            "SUCCEEDED"
          ]
        }
      },
      "Archive_to_blob": {
        "type": "ServiceProvider",
        "inputs": {
          "parameters": {
            "containerName": "@{parameters('amazon-archive-blob-container')}/@{formatDateTime(utcNow(), 'yyyy-MM-dd')}",
            "blobName": "@xpath(triggerBody(), '/AmazonOrder/PurchaseOrderID/text()')?[0]",
            "content": "@triggerBody()",
            "overrideIfExists": "true"
          },
          "serviceProviderConfiguration": {
            "connectionName": "AzureBlob-1",
            "operationId": "uploadBlob",
            "serviceProviderId": "/serviceProviders/AzureBlob"
          }
        },
        "runAfter": {
          "XML_Validation": [
            "SUCCEEDED"
          ]
        }
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "Http_POST_AmazonOrder": {
        "type": "Request",
        "kind": "Http",
        "inputs": {
          "method": "POST"
        }
      }
    }
  },
  "kind": "Stateful"
}